/* style.css */

/* Set the background color for the body */
body {
    background-color:white;
}

/* Style the navigation bar */
.navbar {
    background-color:#45352f;
    padding: 10px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.nav-link {
    font-size: 18px;
    color: #ffffff;
}

.nav-link:hover {
    color: #229c2a;
}

.container {
    margin-top: 5px;
}

/* Style the content area */
h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}