
{% extends 'base.html' %}
{% load static%}
{% block content %}
      <h1> Products</h1>
    
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Details</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>
                       
                       
                     <a href="/product/{{product.id}}">show details</a> 
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}


